body {
    background-color: darkblue;
    margin: 0;
    font-family: "Playfair Display", serif;
    display: flex;
    height: 100vh;
}

h1, h2 {
    color: white;
}

p {
    color: grey;
}

section {
    padding: 1rem;
}

.sidebar {  
    width: 35%;
    margin-top: 4rem;
    margin-left: 1rem;
    padding: 3rem;
    position: fixed;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
}

.content {
    margin-left: 35%;
    width: 65%;
    padding: 1rem;
    overflow-y: scroll;
    box-sizing: border-box;
}

.container {
    display: flex;
    gap: 20px;
    /* align-items: flex-start; */
}

.dl {
    width: 100px;
    font-size: small;
    margin-top: 2px;
}

.dr {
    flex: 1;
}

